# App config is store in APPS_DIR
APPS_DIR=/path/to/app/config

# Media files (music, videos) will be stored in this path.
# We store in sub-folders by type (e.g. "tv", "music", "movies")
MEDIA_DIR=/path/to/media/config

# Set PUID and PGID to user/group ids for shared permissions
PUID=1000
PGID=1000

# For DNS access you will need your cloudflare credentials.
# Generate an API token which has access to the zone of the hostname
# set in PUBLIC_HOSTNAME.
PUBLIC_HOSTNAME=example.com
CF_API_EMAIL=your.email
CF_API_TOKEN=api_token

# Apps are all exposed over tailscale so there's no public visibility.
# Create an auth key at: https://login.tailscale.com/admin/settings/keys
TS_AUTHKEY=YOUR_TAILSCALE_AUTH_KEY

# For Datadog monitoring you need an API key.
# Found at: https://app.datadoghq.com/organization-settings/api-keys
DATADOG_API_KEY=YOUR_DATADOG_API_KEY

